.brands {
  &__title {
    text-align: center;
    margin-bottom: 75px;
    @media (max-width: $bp1280) {
      margin-bottom: 40px;
    }
    @media (max-width: $bp600) {
      margin-bottom: 30px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-content: center;
    row-gap: 80px;
    column-gap: 30px;
    @media (max-width: $bp1280) {
      row-gap: 40px;
    }
    @media (max-width: $bp768) {
      grid-template-columns: repeat(2, auto);
      justify-content: space-around;
      row-gap: 30px;
    }
    img {
      align-self: center;
      max-width: 100%;
      height: auto;
    }
  }
}
